.row{
    margin-left: 20px;
    color: #fff;
    
}

.posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    max-height: 250px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
    cursor:pointer
}

.smallposter{
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
    cursor:pointer
}

.poster:hover{
    transform: scale(1.08);
    opacity: 1;
}

.smallposter:hover{
    transform: scale(1.08);
    opacity: 1;
}

.exitbutton{
    position: absolute;
    top: 60px;
    right: 0;
    padding-right: 10px;
    background: transparent;
    color: rgb(255, 252, 252);
    
    font-size: 2rem;
    cursor: pointer;
    border: none;
}

.exitbutton:hover{
    color: rgb(255, 0, 0);
}